In [1]:
import os

os.chdir("../../src")

In [2]:
import utils.data.splits as data_splits
import utils.dev_notebooks_utils as dev

In [3]:
import pandas as pd

# Create a dummy dataframe
df = pd.DataFrame(
    {
        "A": range(10),
        "B": range(10, 20),
        "C": range(10, 20),
        "D": range(30, 40),
        "E": range(40, 50),
        "F": range(50, 60),
    }
)

df

   A   B   C   D   E   F
0  0  10  10  30  40  50
1  1  11  11  31  41  51
2  2  12  12  32  42  52
3  3  13  13  33  43  53
4  4  14  14  34  44  54
5  5  15  15  35  45  55
6  6  16  16  36  46  56
7  7  17  17  37  47  57
8  8  18  18  38  48  58
9  9  19  19  39  49  59

In [4]:
df.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [5]:
cfg = dev.dict_to_namespace(
    {"grid_variables": ["A", "B"], "n_splits": 2, "random_state": 3}
)

In [6]:
split_generator = data_splits.composite_k_fold_split(df, cfg)

In [7]:
for sg in split_generator:
    display(sg)

(array([0, 3, 6, 7, 8]), array([1, 2, 4, 5, 9]))

(array([1, 2, 4, 5, 9]), array([0, 3, 6, 7, 8]))